Flask
gunicorn==20.0.4
numpy
pandas
python-binance
flask_wtf
wtforms
flask_sqlalchemy
flask_migrate
psycopg2-binary
matplotlib

pip
keyring
setuptools
requests
dhooks
wheel
cryptography
attrs
PyYAML
colorama
six
Click
python-dateutil
urllib3
certifi